*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.HeroSec__1{
    background: url(./Images/heroSectionBackground.png);
    min-height: 60vh;
}
.navBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 20px;
    text-decoration: none;

}
.container__left{
    display: flex;
    gap: 18px;
}
.container__left .user{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    border-radius: 100%;
    border: solid;
    color: white;
}
.sub_left{
    color: white;
    text-decoration: none;
}
 
.logo{
    display: flex;
    align-items: center;
    justify-content:center;
}
h1{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding-bottom: 20px;
}
.input{
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid white; */
    border-color: white;


}
.search{
    padding: 10px 2px 10px 2px;
    background-color: white;
}
.search input{
    
        width: 90%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box; 
}
.total{
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin: 0px; */
    border: 10px solid white;
    /* border-top-right-radius: 10px; */
    
    border-radius:10px;
    border-right: 2px;
    
    /* margin: none; */
}
.i1{
    padding: 0%;
    border: none;
    border-right: 2px solid;
    width: 20vb;
    
}
.i2{
    padding: 0%;
    border: none;
    /* border-right: 2px solid; */
    
}
.logo img{
    height: 5%;
    width: 20%;
    padding: 20px;
    
}

@media only screen and (max-width:600px){
    .HeroSec__1{
        min-width: 80px;
    }
    .sub_left{
        display: none;
    }
    
    }
    
    .container{
        width: 90%;
        margin: 3rem auto
    }
    .we__offer{
        display: flex;
        gap: 0.5rem;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

    }
    .we__offer_cards:hover{
        border-radius: 10px;
        overflow:hidden;
        /* background-color:aqua; */
        border: 1px solid white;
        transition: all o.3s ease;  
    }
    .we__offer_cards:hover{
        transform: scale(1.1);    }
    .we__offer_cards img{
        width: 100%;
        height: 170px;
        object-fit: cover;
        object-position: center;
    }
    .we__offer_content{
        padding: 10px;
    }

    .we__offer_content h2{
        font-size: 20px;
        font-weight: 400;
    }